h1 {
  font-size: 96px;
  font-weight: bold;
}

.hero {
  background-color: #f1eefb;
  text-align: center;
  padding: 160px 100px;
}

.hero p {
  font-size: 36px;
}

.btn-branding {
  border-radius: 4;
  background-color: white;
  color: black;
  font-size: 18px;
  margin: 20px auto;
  padding: 20px 30px;
  border: solid #8b86f7;
  box-shadow: 1px 1px 12px 2px rgba(20, 20, 20, 0.4);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 24px;
  }
}
